# ipython checkpoints
.ipynb_checkpoints

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

### Linux ###
*~

logs/
